.color {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  display: inline-block;
  padding: 33px;
}

#color-palette {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pixel-board {
  width: 240px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -5px;
  background-color: white;
}

.selected {
  border: 10px solid rgba(37, 37, 37, 0.589);
}

#clear-board {
  margin-left: auto;
  margin-right: auto; 
}
